@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');


*{
    font-family: 'Inter', sans-serif;
}

.min-h-20{
    min-height: 80px;
}

.h-90vh{
    height: 91vh;
}

.max-w-3\/4 {
    max-width: 75%;
}